.bg {
	padding: 25vh 0;
}
.bg-green {
	background: #2ecc71;
}
.bg-blue {
	background: #3498db;
}
.bg-purple {
	background: #9b59b6;
}
.bg-orange {
	background: #f1c40f;
}
.bg-yellow {
	background: #e67e22;
}
.bg-red {
	background: #e74c3c;
}

.img-profile {
	width:50%;
	margin: 0 auto;
	text-align: center;
}